*{
    margin: 0;
    padding: 0;
}

:root{
    --theme: #AF6CD8;
    --bgTheme:#12131A;
    --dark-theme: #2E1F37;
}

body{
    overflow-x: hidden;
}

.navbar-brand img{
    width: 8rem;

}

.navbar{
    background: #1E1E1E;
}

.nav-child{
    justify-content: center !important;
}

.navbar-collapse{
    flex-grow: 0;
}

.nav-link{
    color: white;
    margin: 0 0.5rem;
}

.nav-link:hover, .nav-link:focus{
    color: white !important;
}

.navbar-nav .nav-link.active{
    color: var(--theme);
}

/* landing */

.up-landing{
    padding: 1rem 0 0 0!important;
    background: var(--bgTheme);
}

.landing{
    background: url("../plugins/Vector\ 2.png") no-repeat center center, url("../plugins/BG2.png") no-repeat center center;
    background-size: contain, cover;
    padding: 0 !important;
}

.landing .col-sm{
    padding: 0 !important;
}

.right{
    position: relative;
    right: 14rem;
}

.landing img{
    width: 69rem;
}

.title{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 98px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.landing-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-inside-content{
    padding: 3rem;
    color: white;
    text-align: end;
    width: 27rem;
}

.buttons{
    margin: 3rem 0 0 0;
}

.btn{
    background: var(--theme);
    border-radius: 0;
}

.btn:hover{
    background: var(--theme) !important;
}

.parallelogram{
    transform: skew(-20deg);
    margin: 0 1rem ;
}

.skew-fix{
    display:inline-block;
    transform: skew(20deg);
    color: white;
}


@media  (max-width: 1511px) {
    .right{
        position: static;
        display: flex;
        align-items: center;
    }
    
    
    .buttons{
        display:flex ;
        flex-direction: column;
    }
    
    .buttons button{
        margin: 1rem 0;
    }
}

/* @media  (max-width: 600px) {
    .right{
        position: static;
    }
} */

/* What's New */

.whats-next{
    background: var(--bgTheme);
}

.upper-box{
    color: white;
    padding: 2rem 0;
}

.upper-box h2{
    font-family: sans-serif;
    font-weight: 700;
    /* line-height: 78px; */
    letter-spacing: 0.025em;
    text-transform: uppercase;
}

.whats-new{
    background: var(--bgTheme);
    display: flex;
  align-items: center;
  justify-content: center;
}


.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    /* border-radius: 25px; */
  }

  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    /* padding: 25px 0; */
  }

  .card-content{
    background: #2E1F37;
  } 

  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #2E1F37;
    border-radius: 5px;
  }
 
  .card-image{
    position: relative;
    /* padding: 3px; */
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: white;
  }
  .description{
    font-size: 14px;
    color: white;
    /* text-align: center; */
  }

  .swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
  }

  .swiper-navBtn:hover{
    /* color: #4070F4; */
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: black;
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }


  /* About Us */

  .up-About{
    padding: 2rem 0 0 0!important;
    background: var(--bgTheme);
}

.About{
    background: url("../plugins/Vector\ 2.png") no-repeat center center, url("../plugins/woman\ bg\ layer\ 2\ 1.png") no-repeat center center;
    background-size: contain, cover;
    padding: 0 !important;
}

.landing .col-sm{
    padding: 0 !important;
}

.about-right{
    position: relative;
    left: 14rem;
}

.About img{
    width: 55rem;
}

.title{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 98px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.About-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.About-inside-content{
    padding: 3rem;
    color: white;
    text-align: left;
    width: 27rem;
}


@media  (max-width: 1511px) {
    .About .row{
        display: flex;
        flex-direction: column-reverse;
    }

    .about-right{
        position: static;
        display: flex;
        align-items: center;
    }

    .About img{
        width: 30rem;
    }
    
    
    .buttons{
        display:flex ;
        flex-direction: column;
    }
    
    .buttons button{
        margin: 1rem 0;
    }
}

/* Best Sellers */


.best-sellers{
    background: var(--bgTheme);
}

.upper-box{
    color: white;
    padding: 2rem 0;
}

.upper-box h2{
    font-family: sans-serif;
    font-weight: 700;
    /* line-height: 78px; */
    letter-spacing: 0.025em;
    text-transform: uppercase;
}

.whats-new{
    background: var(--bgTheme);
    display: flex;
  align-items: center;
  justify-content: center;
}


.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    /* border-radius: 25px; */
  }

  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    /* padding: 25px 0; */
  }

  .card-content{
    background: #2E1F37;
  } 

  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #2E1F37;
    border-radius: 5px;
  }
 
  .card-image{
    position: relative;
    /* padding: 3px; */
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: white;
  }
  .description{
    font-size: 14px;
    color: white;
    /* text-align: center; */
  }

  .swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
  }

  .swiper-navBtn:hover{
    /* color: #4070F4; */
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: black;
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }


/* Why Us */


.up-why{
    padding: 3rem 0 0 0!important;
    background: var(--bgTheme);
}

.why{
    background: url("../plugins/Vector\ 2.png") no-repeat center center, url("../plugins/car\ bg\ 1.png") no-repeat center center;
    background-size: contain, cover;
    padding: 0 !important;
}

.landing .col-sm{
    padding: 0 !important;
}

.why-right{
    position: relative;
    right: 14rem;
}

.why img{
    width: 65rem;
}

.title{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 98px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.landing-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-inside-content{
    padding: 3rem;
    color: white;
    text-align: end;
    width: 27rem;
}


@media  (max-width: 1511px) {
    .why-right{
        position: static;
        display: flex;
        align-items: center;
    }

    .why img{
        width: 30rem;
    }
    
    
    .buttons{
        display:flex ;
        flex-direction: column;
    }
    
    .buttons button{
        margin: 1rem 0;
    }
}


/* Footer */

.footer{
    background: url("../plugins/footer.png") no-repeat center center, linear-gradient(360deg, #D9D9D9 -20.43%, rgba(217, 217, 217, 0) 96.8%);;
    background-size: cover;
    padding: 2rem 0;
}

.foot-cont .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around !important;
}

.contact{
    width: 10rem;
}

.footer .col-sm h3{
    color: white;
}

.footer .col-sm a{
    color: var(--theme);    
    display: block;
}

.custom-rev{
    width: 5rem;
}

.custom-rev img{
    width: 17rem;
}

.footer .col-sm p{
    color: white
}

@media  (max-width: 650px) {
    .foot-cont .col-sm{
        display: flex;
        flex-direction: column;
        align-items: center !important;
        margin: 1rem 0;
    }

    .footer .col-sm a{
        text-align:  center;
    }
}